.bg-primary{
    background: linear-gradient(to right, #000428,#004e92);
    
}
.my-icons{
    font-size:80px !important;
    color:#004e92;
}
.service-container{
    
    padding:25px;
    cursor:pointer;
    transition:350ms;
}
.service-container:hover{
    background:linear-gradient(to right, #000428,#004e92);
    color:white;
    border-radius: 35px;

}